.LSBox {
  background: url(busca_ie.gif) no-repeat right top;
  padding-top: 1px;
  height: 1.7em;
}

.LSBox .searchField,
.LSBox .searchButton {
  background: transparent;
  border: 0;
}

#searchGadget {
  width: 170px;
}

.LSBox .searchField {
  margin-right: 5px;
}

.LSBox .searchButton {
  margin-right: 6px;
}
