/* CSS ADICIONAL PARA BARRA - NECESSÁRIO DEVIDO À ESTRUTURA DO PLONE */
/* O valor de 'margin-top' é o valor total da barra como definido na
 * documentação. Se a barra aumentar de tamanho, esse valor também deverá ser
 * alterado: isso é necessário para que a barra de identidade possa ficar
 * dentro da Viewlet Manager plone.portaltop evitando assim a necessidade de
 * criação de uma nova Viewlet Manager. 'visual-portal-wrapper' é a primeira
 * div  de conteúdo dentro do Plone logo após a tag <body>.
 */
#visual-portal-wrapper {
    margin-top:28px;
}

/* Fix: Sunburst Theme */
#portal-top.row #barra-gov {
    margin: 0 -1.125%;
    top: -28px;
    width: 102.25%;
}

/* Div criada para poder pegar a largura toda da tela, uma vez que a barra de
 * governo está dentro de portaltop.
 */
#barra-gov {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
/* FIM CSS ADICIONAL PARA BARRA - NECESSÁRIO DEVIDO À ESTRUTURA DO PLONE */

/* CSS BARRA IDENTIDADE GOVERNO FEDERAL - OBTIDO DE 
 * http://epwg.governoeletronico.gov.br/barra/  
 * Alterações apenas nas urls das imagens de background e pequenos fixes em
 * propriedades setadas pelo Plone que dão conflito (todos documentados) 
 */
#barra-brasil { 
    position:relative;
    overflow:hidden;
    min-width:1000px;
    background: #004b82 url(++resource++barraidentidadegf_static/barra-brasil-v3-bgx.png) center bottom no-repeat;
}

#barra-brasil .barra {
    display: block;
    width: 960px;
    height:28px;
    margin: 0 auto;
    background: url(++resource++barraidentidadegf_static/barra-brasil-v3-bgx.gif) 0 bottom repeat-x;
}

#barra-brasil .barra ul {
    margin:0; /* PLONE: Necessário porque existe css (base.css) interferindo */
    list-style-type: none; /* PLONE: Necessário porque existe css dele interferindo */
    float:right;
    width: 319px;
}

#barra-brasil .barra ul li {
    margin:0; /* PLONE: Necessário porque existe css (base.css) interferindo */
    float: left;
    padding-left: 25px;
}

#barra-brasil .ai {
    display: block;
    width: 161px;
    height: 28px;
    text-indent: -10000px;
    background: #004b82 url(++resource++barraidentidadegf_static/ai.png) no-repeat 0 4px;
}

#barra-brasil .brasilgov {
    display: block;
    width: 108px;
    height: 28px;
    text-indent: -10000px;
    background: #004b82 url(++resource++barraidentidadegf_static/brasil.png) no-repeat 0 4px;
}
/* FIM CSS BARRA */
