
div.abas_galerias {
  float: right;
  margin-bottom: 10px;
 }
 
div.abas_galerias a {
  margin-left: 10px;
  color: #0F84C9;
}

div.abas_galerias a.selected {
  color: #00824E;
}

div.download_album {
  float: right;
 }
 
.album {
  display: inline-block;
  vertical-align: top;
  width: 144px;
  font-size: 10pt;
}

.album a {
  text-decoration: none;
  font-weight: normal !important;
}

.album a p.titulo {
  text-decoration: none;
  font-weight: bold !important;
}

.album p.download_album a, .album p.download_imagem a {
  text-decoration: none;
  font-weight: bold !important;
}

.album a p {
  margin-bottom: 0 !important;
}

