#portal-header .noScript {
position:absolute;
}

/* contraste */
.contraste #visual-portal-wrapper,
.contraste #portal-siteactions li a,
.contraste #portal-sitemap a,
.contraste .LSIEFix {
background:#000;
border-color:#000;
}
.contraste .documentContent,
.contraste table.listing th, .contraste .stx table th 
{background:#000;
color:#fff;
}
.contraste,
.contraste abbr,
.contraste acronym,
.contraste .explain,
.contraste .searchSection {
color:#fff;
}
.contraste a,
.contraste #portal-siteactions li a,
.contraste .portletHeader a,
.contraste .portletItem a,
.contraste #portal-personaltools li a,
.contraste #portal-footer a,
.contraste #portal-colophon ul li a,
.contraste #portal-breadcrumbs a {
color:#99FF00;
}
.contraste .documentContent p a:visited,
.contraste #portal-footer a:visited {
color:#436f00;
}
.contraste .even {
background:#444;
}
.contraste h1,
.contraste input,
.contraste #searchGadget,
.contraste .portlet,
.contraste .portletHeader,
.contraste .portletItem,
.contraste .portletFooter,
.contraste #portal-personaltools,
.contraste #portal-breadcrumbs,
.contraste .ploneCalendar .weekdays th,
.contraste code,
.contraste tt,
.contraste #portal-footer,
.contraste .livesearchContainer,
.contraste #livesearchLegend,
.contraste .optionsToggle,
.contraste .formHelp,
.contraste #breadcrumbs-you-are-here {
background:#000;
border-color:#fff;
color:#fff;
}
.contraste .portletNavigationTree dd.portletItem .navTreeItem a,
.contraste h2,
.contraste h3,
.contraste.template-newsitem_view .documentContent .date,
.contraste .documentDescription,
.contraste .discreet,
.contraste #keywords-list span {
color:#fff;
}
.contraste .context, .contraste .formControls .actionButtons .button, .contraste .documentEditable * .context,
.contraste #login-form input.context,
.contraste .standalone,
.contraste .documentEditable * .standalone,
.contraste .documentActions li,
.contraste .portletNavigationTree dd.portletItem .navTreeLevel1 .navTreeItem a,
.contraste #keywords-list span {
background:#000;
}


/* barra-acessibilidade */
#serpro-barraacessibilidade {
margin: 0;
background: #205C90;
padding: 5px 0px 5px 4px;
*height: 20px;
}

#serpro-barraacessibilidade li {
margin: 0;
display: inline;
/* hack ie 6 e 7 - inline-block */
*display: block;
*float: left;
*padding: 5px 0;
}

/* link */
#serpro-barraacessibilidade a {
color: #FFF;
font-family: verdana;
font-size: 10px;
text-decoration: none;
padding-right: 5px;
}

/* links ir para menu e conteudo */
#serpro-barraacessibilidade #barraacessibilidade-skip_menu a:before,
#serpro-barraacessibilidade #barraacessibilidade-skip_content a:before {
content: "▼ ";
}

/* escondendo o texto de links de tamanho do texto e contraste */
#serpro-barraacessibilidade #barraacessibilidade-small_text a,
#serpro-barraacessibilidade #barraacessibilidade-normal_text a,
#serpro-barraacessibilidade #barraacessibilidade-large_text a,
#serpro-barraacessibilidade #barraacessibilidade-apply_contrast a,
#serpro-barraacessibilidade #barraacessibilidade-remove_contrast a {
height: 18px;
width: 19px;
overflow: hidden;
display: inline-block;
margin-bottom: -5px;
}

/* espaçamentos maiores */
#serpro-barraacessibilidade #barraacessibilidade-small_text a,
#serpro-barraacessibilidade #barraacessibilidade-apply_contrast a,
#serpro-barraacessibilidade #barraacessibilidade-accessibility a {
padding-left: 10px;
}

#serpro-barraacessibilidade #barraacessibilidade-skip_content a,
#serpro-barraacessibilidade #barraacessibilidade-large_text a,
#serpro-barraacessibilidade #barraacessibilidade-remove_contrast a {
padding-right: 10px;
}
